ts/ui/src/adl-gen/** linguist-generated
rust/adl/src/gen/** linguist-generated
rust/adl/src/db/schema.rs linguist-generated
sql/adl-gen/** linguist-generated
rust/server/migrations/00000000000020_adl-tables.latest.sql linguist-generated
rust/server/migrations/00000000000030_adl-views.latest.sql linguist-generated
